
@media screen and (max-width: 600px) {
    .content-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        min-width: 276px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.501);
        position: absolute;
        top: 118%;
        overflow-y: auto;
    }
    #resultado {
        position: relative;
        top: 90%;
        left: 4%;
        color: white;
        font-weight: bolder;
    }
    #re, #res {
        color: white;
        font-weight: bolder;
        position: absolute;
        left: 4%;
    }
    #re {
        top: 100%;
    }
    #res {
        top: 95%;
    }
    #calcular {
        position: relative;
        left: 94px;
        top: 81%;
        width: 152px;
        height: 42px;
        background-color: #3F5666;
        color: white;
        border-radius: 5px;
        font-weight: bolder;
        
    }
    select {
        width: 99px;
        height: 31px;
        border-radius: 5px;
        color: black;
        font-weight: bolder;
    }
    #main {
        width: 360px;
        height: 466px;
        background-color: #1A4A5A;
        margin: auto;
        border-radius: 10px;
        box-shadow: 0px 0px 10px #0E2C40;
        color: white;
    }
    #peso_id, #altura_id, #number_id {
        position: absolute;
        left: 27%;
        border-radius: 5px;
        color: black;
        font-weight: bolder;
        height: 6%;
        width: 37%;
    }
    #peso_id {
        top: 52%;
    }
    #altura_id {
        top: 39%;
    }
    #number_id {
        top: 25%;
    }
    #peso, #altura, #idade {
        position: absolute;
        left: 28%;
    }
    #peso {
        top: 48%;
    }
    #altura {
        top: 34%;
    }
    #idade {
        top: 20%;
    }
    #kg, #m, #anos {
        position: absolute;
        left: 68%;
    }
    #kg {
        top: 54%;
    }
    #m {
        top: 41%;
    }
    #anos {
        top: 27%;
    }
    #sexo2 {
        position: absolute;
        top: 9%;
        left: 52%;
        width: 83px;
        height: 19px;
    }
    #limpar {
        position: absolute;
        left: 83px;
        top: 3%;
        width: 75px;
        height: 26px;
        background-color: #3F5666;
        color: white;
        border-radius: 5px;
        font-weight: bolder;
    }
}